# ignore .txt files
*.txt
hdf5_demo.jl
h5py_demo.ipynb
hdf5_demo.jl
julpy.hdf5
mytestfile.hdf5
pyjul.hdf5
*.hdf5
SIRS_mixed.ipynb
workflow_tests
julpy.hdf5 mytestfile.hdf5 poster_graphs.hdf5 poster_graphs_100.hdf5 pyjul.hdf5
CTDE_config_gen.ipynb
