# ignore .txt files
*.txt
hdf5_demo.jl
h5py_demo.ipynb
hdf5_demo.jl
julpy.hdf5
mytestfile.hdf5
pyjul.hdf5
# Ignore hdf5 files
*.hdf5
SIRS_mixed.ipynb
workflow_tests
CTDE_config_gen.ipynb
2015_Graveyard
2015_Graveyard/*
foo_test.py
test.jl
tracing.jl
